.PagCursos{
    margin-bottom: 40rem;
    /* width: 100vw;   */
    height: 100vh; 
    position: relative; 
}

.Saudacao{
    margin-left: 10px;
    margin-bottom: 120px;
    color: white;
}

.SaudacaoText{
    margin-top: 30px;
    font-size: clamp(3rem, 14vw, 5rem);
    font-family: "Times New Roman", Times, serif;}


