.Saudacao{
    margin-left: 10px;
    margin-bottom: 120px;
    color: white;
}

.SaudacaoText{
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(3rem, 20vw, 5.625rem);}
