.SIMinimizada {
    padding: auto;
    margin-left: 140px;
    width: 200px;
    height: 100px;
    background-color: rgba(132, 132, 165, 0.479);
    transition: all 0.6s ease;
    cursor: pointer;
    
    border-top: solid 4px;
    border-bottom: solid 4px;
    border-left: solid 8px;
    border-right:  solid 8px;
    border-color: azure;

    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;


    display: flex;
    align-items: center;
    justify-content: center;
}

.SIMaximizada {
    z-index: 1000;
    width: 600px;
    height: 400px;
    background-color: rgb(107, 107, 107);
    transition: all 0.6s ease;
    border-radius: 2px;
    position: absolute;
    border: 2px solid;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 2);
    overflow-y: hidden;
    
}