.DivMinimizada {
    width: 200px;
    height: 100px;
    background-color: rgba(131, 117, 130, 0.459);
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}

.DivMaximizada {
    width: 400px;
    height: 200px;
    background-color: rgba(97, 89, 89, 0.315);
    /* Opcional: pode alterar a cor quando expandir */
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 10px;


}