footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(22, 59, 87, 0.993);
    background-image: url("../img/textura.png");
    color: #fff; 
    text-align: center;
    padding: 1rem;
    z-index: 1000;
}