footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    /* width: 100vw; */
    background-color:#132D46;
    background-image: url("../img/textura.png");
    color: #fff; 
    text-align: center;
    padding: 1rem;
    z-index: 1000;
}