.divPergunta {
    margin-top: 50px;
    text-align: center;
}

.botoes {
    color: rgba(0, 0, 0, 0.822);
    font-weight: bold;
    margin-top: 10px;
    font-size: 25px;
    border-radius: 40px;
    height: 80px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.textPergunta {
    color: rgba(0, 0, 0, 0.822);
    font-weight: bold;
    font-size: 30px;
    /* color: white; */
}

.textFrase{
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.Balao {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.938);
    border-radius: 10px;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: white;
}

.CardFinal{
    margin: auto;
    z-index: 1000;
    width: 650px;
    height: 400px;
    background-color: #132D46;
    transition: all 0.6s ease;
    border: 2px solid;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 2);
    overflow-y: hidden;

    border-top: solid 4px;
    border-bottom: solid 4px;
    border-left: solid 8px;
    border-right:  solid 8px;
    border-color: #FFF;
}

.botaoFinal{
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.822);
    font-weight: bold;
    font-size: 25px;
    border-radius: 40px;
    height: 80px;
    width: 200px;
    
}

h4{
    padding-left: 10px;
    color: #FFF;
    text-align: left;
}

.pFinal{
    padding-left: 10px;
    text-align: left;
    color:#FFF
}

.download{
    margin-right: 20px;
    color: #FFF;
    font-family: bold;
    font-size: 20px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .CardFinal {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .CardFinal {
        width: 95%;
        height: 440px;
    }
}